.container {

}
.formContainer {
    background: #FFF;
    padding: 35px 55px;
    border: 1px solid #FFF;
    border-radius: 5px;

    position: absolute;
    z-index: 1;
    left: 35%;
    top: 25%;

    width: 28%;
}


.header {
    text-align: center;
    margin: 15px 0 55px 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}

a.forgotPassword {
    margin-top: 15px;
    text-align: center;
    display: block;
    color: #989898;
    cursor: pointer;
}

@media screen and (max-width: 700px) { 
    .formContainer {
        width: 80%;
        position: absolute;
        z-index: 1;        
        left: 10%;
        top: 25%;
    }   
}

@media (min-width: 701px) and (max-width: 1000px) { 
    .formContainer {
        width: 90%;
        position: absolute;
        z-index: 1;        
        left: 5%;
        top: 25%;
    }   
}