.modal {
	background: rgba(0,0,0,.5);
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100vh;
}
.body {
	width: 50%;
	max-height: 90%;
	border-radius: 4px;
	background: #FFF;
	margin: 150px auto;
	padding: 25px 25px;
}

.enumerator {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.enumeratorData {
	width: 33.33%;
	padding: 25px 25px;

	border: 1px solid #E8E8E8;
}
.enumeratorData img {
	width: 20%;
}

.title {
	margin-bottom: 25px;
}
.value {
	font-size: 16px;
	color: #4a4a4d;
	font-weight: bold;
}

.image_and_name {
	display: flex;
}
.goBack {
	margin-bottom: 25px;
	cursor: pointer;
}
.action {
	display: flex;
	justify-content: space-between;
}